.body {
    padding: 1rem;
    display: flex;
    background-color: white;
    height: 100vh;
}

.body__taskBox {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.body__activityBar {
    width: 30%;
}

@media screen and (max-width: 935px) {
    .body__taskBox{
        width: 50%;
        justify-content: center;
    }
    .body__activityBar{
        width: 50%;
    }
}
@media screen and (max-width: 615px) {
    .body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;

    }
    .body__taskBox{
        width: 100%;
    }
    .body__activityBar{
        width: 100%;
    }
}
