.body {
    padding: 1rem;
    display: flex;
    background-color: #FAFBFB;
    height: 100vh;
}

.body__taskBox {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.body__activityBar {
    width: 30%;
}