.navbar{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0.8rem 1.5rem #f2f2f2;
    margin-bottom: 2rem;
}

.navbar > *{
    font-size: 1.5rem;
    padding: 1rem;
}