.task {
    margin: 1rem;
    padding-top: 1rem;
    background-color: #E2E8F0;
    min-width: 30rem;
    max-width: 30rem;
    max-height: 40rem;
    aspect-ratio: 3/4;
    border-radius: 10px;
}

.task__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.task__name {
    font-size: 2rem;
}