.tasks{
    display: flex;
    flex-wrap: wrap;
}
.task{
    margin: 1rem;
    padding-top: 1rem;
    background-color: #E2E8F0;
    width: 30rem;
    aspect-ratio: 3/4;
    border-radius: 10px;
    display: flex;

    justify-content: flex-start;
    flex-direction: column;


}
.task__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.task__name{
    font-size: 2rem;
}
